server:
    port: 8080

spring:
    application:
        name: gateway-service
    cloud:
        nacos:
            server-addr: 127.0.0.1:8848
        gateway:
            routes:
            -   id: "content"
                uri: "lb://content-service"
                predicates:
                    - Path=/content/**
            -   id: "media"
                uri: "lb://media-service"
                predicates:
                    - Path=/media/**
            -   id: "system"
                uri: "lb://system-service"
                predicates:
                    - Path=/system/**
            -   id: "auth"
                uri: "lb://auth-service"
                predicates:
                    - Path=/auth/**

system:
    security-whitelist-path:
        - "/**"
        - "/auth/**"
        - "/content/open/**"
        - "/media/open/**"