<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.online.content.mapper.CourseCategoryMapper">

	<select id="selectTreeNodes" resultType="com.study.online.content.model.dto.CourseCategoryTreeDTO" parameterType="string">
		with recursive errorResponse as (
			select * from course_category root where id = #{id}
			union all
			select son.* from course_category son inner join errorResponse on errorResponse.id = son.parentid
		)
		select * from errorResponse order by errorResponse.id, errorResponse.orderby
	</select>
</mapper>
